@charset "utf-8";

/* ==============================================
 *  Name   : base.css
 *  Info   : simple design and layout
 *
 * Copyright 2011 silvers All rights reserved.
================================================= */


/* Page Layout
=================================================
    container and pagebody
================================================= */

#container {
    position: relative;
    margin: 0 auto;
    width: 940px;
    font-size: 100%;
    background-color: #fff;
    }

#pagebody {
    position: relative;
    }
    #main {
        float: left;
        width: 700px;
        }
    #sub {
        float: left;
        width: 240px;
        }

#global-footer {
    }
    #global-footer small.copyright {
        display: block;
        text-align: center;
        }


/* Heading
------------------------------------------------- */
h1, h2, h3, h4, h5, h6 {
    margin: 0.618em 10px;
    }

h1 {
    font-size: 189%; /* 25px */
    font-weight: bold;
    }

h2 {
    margin-top: 1.618em;
    font-size: 159%; /* 21px */
    font-weight: bold;
    }

h3 {
    border-bottom: 1px solid #666;
    padding: 0.2em 4px;
    font-size: 146.5%; /* 19px */
    font-weight: bold;
    }

h4 {
    margin-left: 20px;
    font-size: 123.1%; /* 16px */
    font-weight: bold;
    }

h5 {
    margin-left: 20px;
    font-size: 108%; /* 14px */
    }

h6 {
    margin-left: 30px;
    }


/* Block-Level Elements
------------------------------------------------- */
blockquote {
    margin: 1.618em 20px;
    padding: 0.618em 20px;
    color: #666;
    border: 1px solid #aaa;
    background-color: #eee;
    }
    blockquote[title]:before {
        display: block;
        content: attr(title);
        margin: 2px 2px 1em;
        padding: 0.2em 16px;
        color: #333;
        font-weight: bold;
        background-color: #fefefe;
        }
    blockquote[cite]:after {
        display: block; 
        content: "引用元： "attr(cite);
        margin: 1em 2px 2px;
        padding: 0.2em 16px;
        color: #333;
        text-align: right;
    }
    blockquote h3 {
        margin: 0.618em 6px;
        }
    blockquote p, blockquote h4 {
        margin: 0.618em 16px;
        }
    blockquote * {
        color: #666;
    }

pre {
    margin: 1.618em 20px;
    border: 1px dotted #aaa;
    padding: 0.618em 10px;
    overflow: scroll;
    font-size: 92%;
    }
    pre[title]:before {
        display: block; 
        content: attr(title);
        margin: 2px 2px 1em;
        padding: 0.2em 10px;
        color: #333;
        font-weight: bold;
        background-color: #fff;
        }

