@charset "utf-8";

/* ==============================================
 *  Name   : base.css
 *  Info   : simple design and layout
 *
 * Copyright 2011 silvers All rights reserved.
================================================= */

h1, h2, h3, h4, h5, h6 {
    margin: 0.618em 10px;
    }

h1 {
    font-size: 189%; /* 25px */
    font-weight: bold;
    }

h2 {
    padding: 0.2em 7px;
    font-size: 159%; /* 21px */
    font-weight: bold;
    }

h3 {
    border-bottom: 1px solid #666;
    padding: 0.1em 2px;
    font-size: 146.5%; /* 19px */
    font-weight: bold;
    }

h4 {
    margin-left: 20px;
    font-size: 123.1%; /* 16px */
    font-weight: bold;
    }

h5 {
    margin-left: 20px;
    font-size: 108%; /* 14px */
    }

h6 {
    margin-left: 30px;
    }
